/* new-post/page.module.css */

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.formGroup {
  margin-bottom: 20px;
}

.formGroup label {
  display: block;
  margin-bottom: 5px;
}

.formGroup input[type='text'],
.formGroup textarea {
  width: 100%;
  padding: 8px;
  font-size: 16px;
}

.textarea {
  height: 200px; /* Adjust the height as needed */
}

.submitButton {
  background-color: #0070f3;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
}

.submitButton:hover {
  background-color: #0051bb;
}
