/* page.module.css */

.article {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

.articleImage {
  margin-right: 20px;
  width: 20em;
}

.articleContent {
  display: flex;
  flex-direction: column;
}
